.settings {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	padding-bottom: 0;
	gap: 1rem;
}

.section {
	width: 100%;
	max-width: 40rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.sectionTitle {
	font-size: 1rem;
	margin-right: auto;
}

.themeSelect {
	appearance: none;
	width: 10rem;
	height: 3rem;
	border: none;
	background-color: var(--bg2);
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 1rem;
}

.themeSelect:active {
	background-color: var(--bg3);
}

.themePreview {
	display: flex;
	align-items: center;
	justify-content: center;
}

.themePreview > div {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--bg3);
}
