.calendar {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.year {
	max-width: 59rem;
	display: flex;
	flex-direction: column;
}

.yearTitle {
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: auto;
}

.months {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

.month {
	max-width: 14rem;
	display: flex;
	flex-direction: column;
	background-color: var(--bg2);
}

.monthTitle {
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: auto;
}

.days {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.day {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--bg3);
}

.day.active {
	border: 1px solid var(--fg);
}
